body {
	text-align: center;
	margin:0 auto;
	clear: both;
	font-family: 'Space Mono', monospace;
	background-color: #000;
	color: green;
}

#clock{
	font-size: 80px;
	margin-top: 10px;
}
#date{
	font-size: 30px;
}
#img{
	text-align: center;
	height: 300px;
	width: 50%;
	margin: 0 auto;
	clear: both;
}
.morning{
	background: url(../img/morning.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	
}
.afternoon{
	background: url(../img/afternoon.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.evening{
	background: url(../img/evening.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
